// .about-blogr {
//   position: relative;
//   width: 1440px;
//   min-width: 1440px;
//   max-width: 1440px;
//   height: 800px;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
//   background-color: beige;

//   .about-blogr-img {
//     position: absolute;
//     transform: scale(0.8);
//     left: -20rem;
//     transition: all 0.5s ease-in-out;

//     @media screen and (max-width: 1300px) {
//       left: -14rem;
//     }

//     @media screen and (max-width: 1150px) {
//       left: -16rem;
//       transform: scale(0.6);
//     }

//     @media screen and (max-width: 1000px) {
//       left: -20rem;
//       transform: scale(0.5);
//     }

//     @media screen and (max-width: 750px) {
//       position: absolute;
//     }
//   }

//   .container {
//     width: 36rem;
//     position: absolute;
//     right: 8rem;
//     font-family: $font-ubuntu;
//     padding-right: 2rem;
//     transition: all 0.5s ease-in-out;

// @media screen and (max-width: 1300px) {
//   width: 30rem;
//   right: 18rem;
// }

// @media screen and (max-width: 1150px) {
//   right: 26rem;
// }

// @media screen and (max-width: 1000px) {
//   right: 32rem;
//   width: 28rem;
// }

// @media screen and (max-width: 900px) {
//   right: 42rem;
//   width: 24rem;
// }

//     .content {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: center;
//       gap: 2rem;
//       margin-bottom: 20px;
//       transition: all 0.5s ease-in-out;

//       h3 {
//         font-size: 1.5rem;
//         font-weight: 300;
//         color: $very-dark-blackish-blue;

//         @media screen and (max-width: 900px) {
//           font-size: 1.3rem;
//         }
//       }

//       p {
//         color: $very-dark-grayish-blue;
//         line-height: 25px;
//         font-size: 16px;

//         @media screen and (max-width: 900px) {
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }

// -------

.about-blogr {
  position: relative;
  width: 1440px;
  min-width: 1440px;
  max-width: 1440px;
  height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // background-color: antiquewhite;
  padding: 0 2rem;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    height: 100%;
    padding: 0;
    width: 100%;
    min-width: 100%;
    padding: 4rem 0;
    gap: 2rem;
  }

  .about-blogr-img {
    width: 40rem;
    z-index: 2;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 1100px) {
      width: 32rem;
    }
    @media screen and (max-width: 900px) {
      width: 24rem;
    }
  }

  .container {
    width: 30rem;
    font-family: $font-ubuntu;
    // padding-right: 2rem;
    position: absolute;
    right: 10rem;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 750px) {
      position: static;
      width: 100%;
    }

    @media screen and (max-width: 1300px) {
      right: 14rem;
    }

    @media screen and (max-width: 1200px) {
      right: 20rem;
    }

    @media screen and (max-width: 1100px) {
      right: 28rem;
      width: 26rem;
    }

    @media screen and (max-width: 970px) {
      right: 32rem;
      width: 24rem;
    }

    @media screen and (max-width: 900px) {
      right: 42rem;
      width: 22rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 20px;
      transition: all 0.5s ease-in-out;

      h3 {
        font-size: 1.8rem;
        font-weight: 300;
        color: $very-dark-blackish-blue;
        width: 100%;

        @media screen and (max-width: 1100px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 900px) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 750px) {
          text-align: center;
        }
      }

      p {
        color: $very-dark-grayish-blue;
        line-height: 25px;
        font-size: 1.2rem;

        @media screen and (max-width: 1100px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 900px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 750px) {
          text-align: center;
        }
      }
    }
  }
}
