.feature-section {
  display: flex;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1440px) {
    width: 1440px;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1300px) {
    gap: 12rem;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
    height: 1200px;
    gap: 8rem;
  }

  @media screen and (max-width: 550px) {
    gap: 5rem;
    height: 1100px;
  }

  @media screen and (max-width: 380px) {
    gap: 0;
    height: 900px;
  }

  .feature-title {
    position: absolute;
    top: 100px;
    font-family: $font-ubuntu;
    font-weight: 500;
    letter-spacing: 1px;
    color: $very-dark-blue;
    font-size: 28px;
    transition: all 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 550px) {
      top: 80px;
    }

    @media screen and (max-width: 670px) {
      font-size: 24px;
    }
  }

  .feature-content {
    width: 36rem;
    top: 14rem;
    font-family: $font-overpass;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: 1px;
    color: $very-dark-grayish-blue;
    left: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
    left: 12rem;
    padding-left: 2rem;

    @media screen and (max-width: 380px) {
      width: 2rem;
    }

    @media screen and (max-width: 450px) {
      width: 10rem;
    }

    @media screen and (max-width: 570px) {
      width: 24rem;
      padding: 1rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 600px) {
        text-align: center;
      }

      h1 {
        overflow: hidden;

        @media screen and (max-width: 800px) {
          font-size: 1.1rem;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.5;

        @media screen and (max-width: 800px) {
          font-size: 12px;
        }
      }
    }
  }

  .features-img {
    transform: scale(1.9);
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 950px) {
      transform: scale(2.2);
    }

    @media screen and (max-width: 750px) {
      transform: scale(1.4);
    }

    @media screen and (max-width: 500px) {
      transform: scale(1.2);
    }

    @media screen and (max-width: 500px) {
      transform: scale(1);
    }

    @media screen and (max-width: 380px) {
      transform: scale(0.8);
    }
  }
}
