---
import desktopBgImage from "../images/bg-pattern-intro-desktop.svg";
import logo from "../images/logo.svg";
import bottomArrow from "../images/icon-arrow-light.svg";

const { label, subLabel, id } = Astro.props;
interface Props {
  label: string;
  subLabel: string[];
  id: string;
}
---

<button class="header-menu--btn" id={id}>
  {label}
  <img src={bottomArrow} alt="" loading="lazy" />
</button>
