---
---

<footer class="footer">
  <div class="footer-inside">
    <img src="../images/logo.svg" alt="" class="footer-logo" />
    <div class="links-container">
      <div class="box">
        <h4 class="box-title">Product</h4>
        <ul class="box-links">
          <li>Overview</li>
          <li>Features</li>
          <li>Pricing</li>
          <li>Marketplace</li>
          <li>Integrations</li>
        </ul>
      </div>
      <div class="box">
        <h4 class="box-title">Company</h4>
        <ul class="box-links">
          <li>About</li>
          <li>Team</li>
          <li>Blog</li>
          <li>Careers</li>
        </ul>
      </div>
      <div class="box">
        <h4 class="box-title">Connect</h4>
        <ul class="box-links">
          <li>Contact</li>
          <li>Newsletter</li>
          <li>Linkedin</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
